
@{
    ViewData["Title"] = "Groups";
}

<style>
    .hover:hover {
        background-color: aliceblue;
    }

    .post-flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 12px;
    }
</style>


@if (ViewBag.Groups != null)
{
    foreach (var group in ViewBag.Groups)
    { 
        <div class="hover card" style="border: 1px solid darkgrey; border-radius: 10px; margin: 5px 0px 0px 5px;">
            <div class="card-body">
                <div class="post-flex">
                    <div style="margin: 5px 0px 0px 5px; ">
                        <h4 class="card-title" style="font-weight: bold; font-style:italic;">@group.Name</h4>

                        <p class="card-text">@group.Description</p>
                   
                        
                    </div>
                    <div>
                        <form method="post">
                            <input style="display: none" name="id" value="@group.Id" />
                            @if (@ViewBag.User.GroupId == group.Id)
                            {
                                <button asp-controller="Groups" asp-action="LeaveGroup" type="submit" class="btn btn-danger">
                                    Leave Group
                                </button>
                            }
                            else
                            {
                                <button asp-controller="Groups" asp-action="JoinGroup" type="submit" class="btn btn-primary" disabled="@ViewBag.UserGroup">
                                    Join Group
                                </button>
                            }

                        </form>
                    </div>
                </div>
            </div>
        </div>
    }
}

@section Scripts {
    <script>
        function showCreateGroup() {
            document.getElementById("create-group-form").style.display = "block";
            document.getElementById("toggle-create-button").style.display = "none";
        }
    </script>
}
