
@{
    ViewData["Title"] = "Groups";
}

<style>
    .hover:hover {
        background-color: aliceblue;
    }

    .post-flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 12px;
    }
</style>

    <div class="modal fade" id="create-club-modal" tabindex="-1" aria-labelledby="create-club-modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Create a club</h5>
                </div>
                <form asp-controller="Groups" asp-action="CreateGroup" method="post">

                    <div class="modal-body">
                        <div class="form-group">
                            <label class="form-label">Name</label>
                            <input class="form-control" name="name" />
                        </div>
                        <div class="form-group">
                            <label class="form-label">Description</label>
                            <textarea class="form-control" name="description" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>

            </div>
        </div>
    </div>

@if (ViewBag.Groups != null)
{
    foreach (var group in ViewBag.Groups)
    {
        <div class="hover card">
            <div class="card-body">
                <div class="post-flex">
                    <div>
                        <h4 class="card-title">@group.Name</h4>
                        <p class="card-text">@group.Description</p>
                    </div>
                    <div>
                        <form method="post">
                            <input style="display: none" name="id" value="@group.Id" />
                            @if (@ViewBag.User.GroupId == group.Id)
                            {
                                <button asp-controller="Groups" asp-action="LeaveGroup" type="submit" class="btn btn-danger">
                                    Leave Group
                                </button>
                            }
                            else
                            {
                                <button asp-controller="Groups" asp-action="JoinGroup" type="submit" class="btn btn-primary" disabled="@ViewBag.UserGroup">
                                    Join Group
                                </button>
                            }

                        </form>
                    </div>
                </div>
            </div>
        </div>
    }
}

@section Scripts {
    <script>
        function showCreateGroup() {
            document.getElementById("create-group-form").style.display = "block";
            document.getElementById("toggle-create-button").style.display = "none";
        }
    </script>
}
